.Reg-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.Reg-form-wrapper {
  margin-top: 20px;
}

.Reg-form-group {
  margin-bottom: 15px;
}

.Reg-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Reg-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #9e1c3f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d71a5d;
}

.success-message {
  color: #4caf50; /* Green color for success message */
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.error-message {
  color: #f44336; /* Red color for error message */
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.message {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}
